html {
    scroll-behavior: auto;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Raleway';
}

.navigation {
    position: fixed;
    background-image: linear-gradient(90deg, rgb(228, 166, 42), rgb(195, 134, 35));
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navigation .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .text-logo {height: 40px;}
.navigation .comp-logo {
    width: 60px;
    padding: 10px;
}

.navigation .nav-link {
    padding-right: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.navigation .nav-link a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Raleway Bold';
    transition: .2s ease-in-out;
}

#menu-toggle {display: none;}
.navigation .nav-link a:hover {
    color: #356d13;
    padding: 10px 30px;
    background-color: white;
    text-decoration: none;
    font-family: 'Raleway Bold';
}

.hamburger-icon {
    display: none;
    font-size: 26px;
    color: white;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

#hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: white;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.658)),
        url(../src/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: backgroundFade 20s ease-in-out infinite alternate;

}

#hero h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
    animation-delay: 1s;
}

#hero .hero-container .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-container .hero-content img {
    scale: 80%;
}

#hero .hero-container .hero-content .btn-container {
    display: flex;
}

#hero .hero-container .hero-content .btn-container a {
    background-color: orange;
    font-size: 20px;
    font-weight: bolder;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    opacity: 0;
    animation: fadeIn 3s ease-out forwards;
    transition: .5s ease;
}

#hero .hero-container .hero-content .btn-container a:hover {
    background-color: white;
    color: black;
}

.snow-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.snowflake {
    position: absolute;
    top: -10px;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
    animation-name: fall, sway, twinkle;
    animation-timing-function: linear, ease-in-out, ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal, alternate, alternate;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fall {
    0% {
        top: -10px;
    }

    100% {
        top: 100%;
    }
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(70px);
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.3;
    }
}

@font-face {
    font-family: 'Raleway';
    src: url(../font/raleway/static/Raleway-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway Bold';
    src: url(../font/raleway/static/Raleway-ExtraBold.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}